<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @submission.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @submission.body %>
</p>

<p>
  <strong>Url:</strong>
  <%= @submission.url %>
</p>

<%#= debug(@submission.submission_image) %>
<p>
  <strong>Submission Image:</strong>
  <%= image_tag @submission.submission_image.large.url, width: 400 %>
</p>

<p>
  <strong>Submission Video:</strong>
  <%#= image_tag @submission.submission_image, width: 400 %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
